.card-spacer {
  flex-grow: 1;
}

.border-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.price-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.swiper-slide {
  display: flex;
  height: auto !important;
}

.swiper-text-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.desktop-tabs {
  display: none;
}

.free-demo-button-set:hover {
  background-color: #633201;
}

.free-demo-button-set:focus {
  outline: 1px solid #633201;
  outline-offset: 2px;
}
