.secondYearAnnualCard {
  display: flex;
  align-self: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
}

.second-year-card {
  width: 100%;
  padding: 0.75rem;
  max-width: 300px;
}

.second-year-price-card {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.rm-text {
  color: #6c4e33;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font2";
  animation: fade 0.9s linear;
}

.annaul-price-text-second {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #d68000;
  font-family: "font2";
  animation: fade 0.9s linear;
  margin: 0;
}

.annaul-day-second {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: #6c4e33;
  font-family: "font1";
  text-align: center;
  animation: fade 0.9s linear;
}

.annual-price-text-second {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  color: #472200;
  text-align: center;
  margin: 0;
  animation: fade 0.9s linear;
}

.excluded-text {
  color: #6c4e33;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-family: "font1";
  margin: 0;
  text-align: center;
  margin-top: 0.5rem !important;
  margin: 0;
  animation: fade 0.9s linear;
}
