.sub-main-class {
  width: 100%;
}

.price-text {
  color: rgb(132 107 84);
  font-weight: 500;
  text-align: center;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-family: "font1";
}

.software-only {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.software-dropdown {
  position: absolute;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #fffefb;
  flex-direction: column;
  margin-top: 0.25rem;
  display: flex;
  width: 100%;
  animation: opacity 0.2s linear;
  bottom: -100px;
  left: 0px;
}

.shadow-select-dropdown {
  --tw-shadow: 8px 8px 42px 0px rgba(49, 35, 0, 0.12);
  --tw-shadow-colored: 8px 8px 42px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card-section {
  padding-bottom: 1.5rem;
}

.button-card {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  border: none;
  background-color: #472200;
  color: #fff;
  border-radius: 1rem;
  width: 100%;
  padding: 0px;
  font-family: "font1";
}

.main-class {
  position: relative;
  z-index: 20;
  width: 100%;
}

.button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.arrowDownImage {
  height: 0.75rem;
  width: 0.75rem;
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.arrowDownImage.rotated {
  transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
  .sub-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
