.plan-container-main-card {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.plan-container-main {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.plan-container-main-set {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-col-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan-text {
  color: #321800;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  font-weight: 600;
  text-align: center;
  font-family: "font2";
  margin-bottom: 0.5rem !important;
  margin: 0px;
}

.plan-content {
  margin: 0;
  color: rgb(132 107 84);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  text-align: center;
  font-family: "font1";
}

.choose-a-plan-main-card {
  --tw-border-opacity: 1;
  border-color: rgb(233 228 223 / var(--tw-border-opacity, 1));
  border-radius: 1rem;
}

.choose-a-plan-main-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.choose-plan-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
}

.items-plans-card {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fff8e7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  border-radius: 1rem;
}

.items-card-button {
  max-width: 375px;
  width: 100%;
  position: relative;
}

.buttons-item-set {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fffefb;
  border: 1px solid #d9b88a;
  column-gap: 0.25rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  max-width: 375px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.flex-card-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.choose-header {
  color: #c37400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "font1";
}

.choose-text-header {
  color: #472200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "font1";
  margin: 0;
  max-width: 80px;
}

.DownArrowImage {
  color: transparent;
  max-width: 100%;
  height: auto;
}

.silverPro {
  display: none;
}

.DownArrowImage {
  transition: transform 0.3s ease;
}

.DownArrowImage.rotate {
  transform: rotate(180deg);
}

.button-padding-card {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-top-width: 0;
  background-color: #ffefc5;
}

.free-button-padding {
  outline-offset: 2px;
  color: #fff;
  text-transform: capitalize;
  font-family: "font1";
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: "font1";
  background-color: #472200;
  border-radius: 1rem;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  max-width: 320px;
  width: 100%;
  position: relative;
  justify-content: center;
}

.silver-gold-platinum-text {
  display: none;
}

.free-button-padding:hover {
  background-color: #633201;
}

.free-button-padding:focus {
  outline: 1px solid #633201;
  outline-offset: 2px;
}

@media screen and (min-width: 375px) {
  .flex-card-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 0;
  }

  .choose-text-header {
    white-space: normal;
    max-width: none;
  }
}

@media screen and (min-width: 768px) {
  .plan-container-main {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .flex-col-card {
    margin-bottom: 3.5rem;
  }

  .silverPro {
    display: inline;
  }

  .items-plans-card {
    column-gap: 2.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .choose-a-plan-main-card {
    --tw-border-opacity: 1;
    border: 1px solid rgb(233 228 223 / var(--tw-border-opacity, 1));
  }

  .silver-gold-platinum-text {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .plan-container-main {
    padding: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .plan-container-main-card {
    max-width: 1440px;
  }

  .silver-gold-card {
    justify-content: space-between;
    align-items: unset;
  }
}
