.help-here-container-main {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fbb501;
}

.help-content-header {
  color: #321800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-top: 90px;
  font-family: "font2";
}

.help-content-paragraph {
  color: #472200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
  font-family: "font1";
}

@media screen and (min-width: 768px) {
  .help-here-container-main {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .help-content-header {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
    font-weight: 600;
    margin-top: 112px;
  }

  .help-content-paragraph {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .help-here-container-main {
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4.9rem;
  }
}

@media screen and (min-width: 1440px) {
  .help-content-header {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1.92px;
    font-weight: 600;
  }
}
