.silver-card-sub-card {
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: red;
}

.silver-card-sub-card.is-open {
  max-height: 1000px;
}

.silver-card-sub-card.closed {
  max-height: 0;
  padding-bottom: 16px;
}

.included-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.25s ease, max-height 0.3s ease;
}

.included-content.open {
  opacity: 1;
  max-height: 1000px;
}

.swiper-slide {
  overflow: visible !important;
}
