.quicker-main-container {
  background-color: #fff8e4;
}

.section-wrapper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-sub-wrapper {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.section-one-image-large {
  height: 100%;
  width: 100%;
  display: none;
}

.quicker-times {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quicker-text {
  text-transform: capitalize;
  color: #321800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  font-weight: 600;
  margin: 0;
  text-align: start;
  font-family: "font2";
}

.image-card {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  visibility: visible;
}

.ScanImageSmall {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: inline;
}

.quicker-content {
  color: rgb(132, 107, 84);
  margin: 0;
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  font-family: "font1";
}

.request-free-demo {
  background-color: #472200;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 1rem;
  display: flex;
  margin-top: 1.5rem;
  max-width: 320px;
  width: 100%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  position: relative;
  color: #fff;
  font-family: "font1";
  outline-offset: 2px;
  cursor: pointer;
}

.quicker-times-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
}

@media screen and (min-width: 375px) {
  .image-card {
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-width: 425px) {
  .section-sub-wrapper {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .ContaclessImage-small {
    margin-top: -1px;
    padding-top: 1px;
  }
}

@media screen and (min-width: 768px) {
  .section-sub-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .quicker-text {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
    font-weight: 600;
  }

  .quicker-content {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }

  .ContaclessImage-small {
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .section-sub-wrapper {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section-two {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .section-one-image-large {
    display: flex;
    flex: 1 1 0;
    min-width: 0;
    height: auto;
  }

  .ScanImage {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .quicker-times {
    flex: 1 1 0;
    min-width: 0;
  }

  .quicker-text {
    margin-bottom: 1rem;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
    font-weight: 600;
  }

  .quicker-content {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }

  .quicker-times-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0%;
  }

  .image-card {
    margin-top: 0;
    margin-bottom: 0;
  }

  .section-wrapper {
    max-width: 1156px;
    margin: 0 auto;
  }

  .request-free-demo {
    margin-top: 2.5rem;
    margin-left: 0;
  }

  .ScanImageSmall {
    display: none;
  }
}

:root {
  --scan-image-width: 453.28px;
  --scan-image-height: 339.95px;
}

.ScanImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

:root {
  --scan-img-width: 453.28px;
  --scan-img-height: 339.95px;
}

.ScanImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  flex-shrink: 0;
}

.section-one-image-large {
  flex: 1 1 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

@media screen and (min-width: 1024px) {
  .section-one-image-large {
    flex: 0 0 auto;
    width: var(--scan-img-width);
    height: var(--scan-img-height);
  }

  .ScanImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .section-one-image-large {
    flex: 1 1 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline;
  }
}

@media screen and (min-width: 1440px) {
  .section-sub-wrapper {
    padding-top: 4.9rem;
    padding-bottom: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .section-wrapper {
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
  }

  .section-one-image-large {
    height: 471px;
  }

  .section-two {
    margin-top: -29px;
  }
}

@media screen and (min-width: 1804px) {
  .section-sub-wrapper {
    padding-top: 6.5rem;
    padding-bottom: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .quicker-text {
    max-width: 560px;
  }

  .quicker-content {
    max-width: 598px;
  }

  .ScanImage {
    margin-right: -192px;
    height: 462.36px;
    width: 616.48px;
    margin-top: 5px;
  }

  .quicker-times {
    margin-left: -8px;
  }
}
