:root {
  --color-brown-rgb: 132 107 84;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.menuClick-main-container {
  position: relative;
  z-index: 1000;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 375px) {
  .menuClick-main-container {
    width: 375px;
  }
}

@media screen and (min-width: 425px) {
  .menuClick-main-container {
    width: 420px !important;
  }
}

.menuLay {
  position: fixed;
  inset: 0;
  z-index: 998;
  width: 100%;
  height: 100vh;
  background-color: rgb(var(--color-brown-rgb) / 0.4);
  display: flex;
  justify-content: flex-start;
}

.menuclick-sub-container {
  width: 90%;
  max-width: 343px;
  height: 100%;
  background-color: #fff5db;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: var(--tw-shadow);
  z-index: 9999;
}

.menuclick-sub-container.open {
  transform: translateX(0);
}

.menuclick-sub-container.closed {
  transform: translateX(-101%);
}

.menuclick-relative {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 2.3rem;
}

.menuclick-width {
  width: 100%;
  height: 100%;
  z-index: 50;
}

.menuclick-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solutions-menuclick {
  display: flex;
  flex-direction: column;
}

.buttons-containers {
  padding: 0 1.5rem;
  width: 100%;
  margin-bottom: 3px;
  background-color: rgb(var(--dark-brown-300) / 0.4);
}

.get-started-buttons {
  color: #472200;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 18px 0;
  background-color: #fff5db;
  border: 1px solid #472200;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  font-family: "font1";
  text-transform: capitalize;
}

.free-demo-button-menu {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 18px 0;
  background-color: #472200;
  border-radius: 1rem;
  border: none;
  width: 100%;
  font-family: "font1";
  text-transform: capitalize;
}

.click-event > .dropdown-main-container-languages {
  top: 46%;
  right: -7.8%;
}

.click-event > .item-name-english {
  padding: 0 1rem;
}

.chevron-down-arrow-english-event {
  margin-top: 3px;
}

.chevron-down-arrow-english-event.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media screen and (min-width: 425px) {
  .click-event > .dropdown-main-container-languages {
    right: -15%;
  }
}

@media screen and (min-width: 768px) {
  .click-event > .dropdown-main-container-languages {
    top: 47%;
    right: -14%;
  }
  .chevron-down-arrow-english-event {
    margin-top: 0px;
  }
}
