.included-data-card-main {
  padding-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1 !important;
}

.included-data-main-container {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  flex-grow: 1;
}

.item-tick {
  color: transparent;
  padding-top: 0.125rem;
  width: 1rem;
  height: 1rem;
  /* max-width: 100%; */
}

.item-name-included {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  color: #472200;
  margin: 0px;
  font-family: "font1";
  text-align: start;
}

.data-card {
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
}
