.faq-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}

.faq-header {
  color: #321800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  font-weight: 600;
  width: 100%;
  margin: 0;
  font-family: "font2";
  text-align: justify;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.faq-question {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.dropdown-icon-faq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.question {
  color: #472200;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  margin: 0;
  font-family: "font2";
  text-align: start;
}

.dropdown-icon-faq-image {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.dropdown-icon-faq-image.rotate {
  transform: rotate(180deg);
}

.faq-answer {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  color: #846b54;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-family: "font1";
  padding-left: 0px;
  text-align: start;
  padding-left: 0px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.faq-answer.show {
  max-height: 400px;
  opacity: 1;
  padding-bottom: 1.5rem;
}

.faq-link {
  text-decoration: underline;
}

.answer {
  margin-bottom: 0px;
}

.faq-border {
  border-bottom: 1px solid #d9b88a;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .faq-header {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
    font-weight: 600;
  }

  .faq-main-container {
    gap: 2rem;
  }

  .question {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .faq-main-container {
    padding-right: 57px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-main-container {
    padding-right: 72px;
  }
}