.feature-card-main-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.feature-container-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.seconds {
  background-color: #fdf6eb;
  border-radius: 0.75rem;
}

.feature-container-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  border-radius: 6px;
}

.feature-card-spans {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-name {
  text-align: center;
  padding: 0.75rem;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #472200;
  font-family: "font1";
  width: 100%;
  box-sizing: border-box;
}
