/* .silver-main-container {
  padding-top: 3rem !important;
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 400px;
  min-width: 262px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .silver-sub-container {
  background-color: #fffefb;
  border: #e6cfb0 solid 1px;
  border-radius: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1 !important;
} */

.request-free-demo-button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border: #e6cfb0 1px solid; */
  background-color: #fffcf4;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.free-demo-button {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  background-color: #472200;
  border-radius: 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "font1";
}

.silver-main-container {
  display: flex;
  flex-direction: column;
}

.silver-sub-container {
  background-color: #fffefb;
  border: #e6cfb0 solid 1px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
}

.silver-button-card {
  background-color: #fffcf4;
  padding: 1.5rem;
  border-bottom: 1px solid #e6cfb0;
  flex: 1;
  min-height: 0;
}

.arrowdownadd.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.included-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.included-content.open {
  max-height: 500px;
}
