.hardware-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
}

.hardware-arrows {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.arrow-card-container-hardware {
  display: flex;
  align-items: center;
}

.arrow-buttons-hardware {
  cursor: pointer;
  padding-left: 46px;
  padding-right: 58px;
  background-color: transparent;
  border: none;
}

.hardware .swiper-pagination {
  bottom: 14px;
}

.hardware .arrowbuttonLeft {
  margin-top: 5px;
}

.hardware .arrowbuttonRight {
  margin-top: 8px;
}

.rm-text-silvers {
  letter-spacing: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-right: 0.25rem;
  font-family: "font2";
}

.hardware-software .silver-card-sub-card {
  margin-bottom: -8px;
}

.free-demo-button-set {
  cursor: pointer;
}

@media screen and (min-width: 375px) {
  .request-free-demo-button-sub {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .hardware-software .silver-card-sub-card {
    margin-bottom: -8px;
  }
}

@media screen and (min-width: 1024px) {
  .hardware-software .silver-card-sub-card {
    margin-bottom: 0px;
  }
}
