.hardware-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
  margin-bottom: 2px;
}

.hardware-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1px;
}

.arrow-card-container-hardware {
  display: flex;
  align-items: center;
}

.arrow-buttons-hardware {
  cursor: pointer;
  padding-left: 46px;
  padding-right: 58px;
  background-color: transparent;
  border: none;
}

.hardware .swiper-pagination {
  bottom: 14px;
}

.hardware .arrowbuttonLeft {
  margin-top: 5px;
  position: relative;
  left: -16px;
}

.hardware .arrowbuttonRight {
  margin-top: 6px;
  position: relative;
  right: -20px;
}

.rm-text-silvers {
  letter-spacing: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-right: 0.25rem;
  font-family: "font2";
}

.hardware-software .accordion-closed .silver-card-sub-card {
  margin-bottom: -8px;
}

.free-demo-button-set {
  cursor: pointer;
}

.swiper-text-card .feature-card-main.close {
  display: none;
}

@media screen and (min-width: 375px) {
  .request-free-demo-button-sub {
    margin-top: 0px;
  }

  .hardware-software .accordion-closed .silver-card-sub-card {
    margin-bottom: 0px;
  }

  .hardware .arrowbuttonLeft {
    left: -7px;
  }

  .hardware-software .accordion-open .request-free-demo-button-sub {
    margin-top: 0px !important;
  }

  .hardware-pagination {
    margin-left: 3px;
  }
}

@media screen and (min-width: 425px) {
  .hardware-software .accordion-open .request-free-demo-button-sub {
    margin-top: 0px !important;
  }

  .hardware-software .additional-open-only .silver-card-sub-card {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .hardware-software .accordion-closed .silver-card-sub-card {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .hardware-software .accordion-closed .silver-card-sub-card {
    margin-bottom: -8px;
  }

  .hardware-software .accordion-open .silver-card-sub-card {
    padding-bottom: 2rem;
    margin-bottom: 0px;
  }

  .swiper-text-card.accordion-open.hardware .silver-card-sub-card {
    padding-bottom: 2rem;
    margin-bottom: 0;
  }

  .accordion-closed .best-value .request-free-demo-button-sub {
    margin-top: -8px !important;
  }

  .accordion-open .best-value .request-free-demo-button-sub {
    margin-top: 2px !important;
  }
}

@media screen and (min-width: 1440px) {
  .accordion-open .request-free-demo-button-sub {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1804px) {
  .hardware-software .accordion-closed .silver-card-sub-card {
    margin-bottom: -8px !important;
  }

  .accordion-open .request-free-demo-button-sub {
    margin-top: 0px !important;
  }

  .hardware-software .accordion-open .silver-card-sub-card {
    padding-bottom: 1.5rem !important;
  }
}
