.pricing-main-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pricing-texted-cards {
  display: flex;
  flex-direction: row;
}

.price-renders-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
