@media screen and (min-width: 1024px) {
  .plansandPrice-main-container .header-main-container {
    margin-top: -112px;
  }
}

@media screen and (min-width: 1440px) {
  .plansandPrice-main-container .minimize-content {
    width: 484px;
  }
}
