.pricings-container-main {
  --tw-border-opacity: 1;
  border-bottom: 1px solid rgb(233 228 223 / var(--tw-border-opacity, 1));
  width: 100%;
}

.pricing-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  color: rgb(132 107 84);
  text-align: left;
  width: 100%;
  font-family: "font1";
  margin-bottom: 0.5rem !important;
  margin: 0;
}

.annual-pricing-card {
  max-width: 700px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0.75rem;
}

.first-year-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
}

.annual-card {
  width: 100%;
  max-width: 300px;
  padding: 0.75rem;
  animation: fade 0.9s linear;
}

.annual-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.rm-text-annual {
  color: #6c4e33;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  animation: fade 0.9s linear;
}

.annual-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  animation: fade 0.9s linear;
  font-family: "font2";
  color: #472200;
}

.annaul-day {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: #6c4e33;
  font-family: "font2";
  text-align: center;
  animation: fade 0.9s linear;
}

.annual-price-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  margin: 0px;
  text-align: center;
  color: #472200;
}

.hardware-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 211px;
}

.hardware-cost-sub-card {
  width: 100%;
  max-width: 300px;
  padding: 0.75rem;
}

.hardware-cost-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.hardware-price-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  color: #6c4e33;
  animation: fade 0.9s linear;
}

.hardware-price-note {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #d68000;
  font-family: "font2";
  animation: fade 0.9s linear;
  font-weight: 600;
}

.day-hardware-exclude {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  text-align: center;
  animation: fade 0.9s linear;
  font-family: "font1";
  margin-top: 0.5rem !important;
  color: #6c4e33;
  font-weight: 600;
}

.year-hardware {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  text-align: center;
  font-family: "font1";
  margin: 0;
  color: #472200;
}

.day-hardware {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  text-align: center;
  color: #6c4e33;
  font-family: "font2";
}

.right {
  background-color: #fff8e7;
  border-radius: 0.75rem;
}

.secondYearAnnualCard {
  display: flex;
  align-self: center;
  justify-content: space-between;
  column-gap: 1rem;
  flex-direction: column;
}

.second-year-card {
  width: 100%;
  /* padding: 0.75rem;
  max-width: 300px; */
}

.second-year-price-card {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.rm-text {
  color: #6c4e33;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  animation: fade 0.9s linear;
}

.annaul-price-text-second {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #d68000;
  font-family: "font2";
  animation: fade 0.9s linear;
  margin: 0;
}

.annaul-day-second {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: #6c4e33;
  font-family: "font2";
  text-align: center;
  animation: fade 0.9s linear;
}

.annual-price-text-second {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  text-align: center;
  margin: 0;
  animation: fade 0.9s linear;
}

.excluded-text {
  color: #6c4e33;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-family: "font1";
  margin: 0;
  text-align: center;
  margin-top: 0.5rem !important;
  margin: 0;
  animation: fade 0.9s linear;
}

.platinum-card {
  background-color: #fff8e7;
  border-radius: 0.75rem;
}

@media screen and (min-width: 375px) {
  .excluded-text {
    width: unset;
  }
}

@media screen and (min-width: 768px) {
  .annaul-price-text-second {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
    font-weight: 600;
  }

  .annaul-day-second {
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.64px;
    font-weight: 500;
  }

  .annual-price-text-second {
    color: #472200;
  }

  .excluded-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 600;
    margin-top: 0px !important;
  }

  /* .second-year-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  } */

  .rm-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }

  .left {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .left {
    border-radius: 0.75rem;
    display: inline;
  }

  .right {
    background-color: #fff8e7;
    border-radius: 0.75rem;
  }

  .pricing-text {
    margin-left: 1.5rem;
    margin-bottom: 1rem !important;
  }

  .annual-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .rm-text-annual {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }

  .first-year {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .annual-price {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
    font-weight: 600;
  }

  .annaul-day {
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.64px;
    font-weight: 500;
  }

  .annual-price-text-second {
    color: #6c4e33;
  }

  .annual-price-text {
    color: #6c4e33;
  }

  .hardware-price-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }

  .hardware-price-note {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
    font-weight: 600;
  }

  .day-hardware {
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.64px;
    font-weight: 500;
  }

  .day-hardware-exclude {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 600;
    margin-top: 0 !important;
    margin-bottom: 0px;
  }

  .pricing-texted-cards {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .feature-name {
    padding: 1rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .hardware-cost {
    width: 830px;
  }

  .first-year {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
  }

  .rm-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }
}

@media screen and (min-width: 1440px) {
  .annual-pricing-card {
    justify-content: space-between;
  }

  .hardware-cost {
    width: unset;
  }
}
