.swiper-pagination-custom {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.bullet {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.active-bullet {
  background: #472200;
}



.swiper-pagination {
  overflow: visible;
}