.pricings-container-main {
  --tw-border-opacity: 1;
  border-bottom: 1px solid rgb(233 228 223 / var(--tw-border-opacity, 1));
  width: 100%;
}

.pricing-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  color: rgb(132 107 84);
  text-align: left;
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: "font1";
  margin-bottom: 0.5rem !important;
  margin: 0;
}

.annual-pricing-card {
  max-width: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}

.first-year-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

.annual-card {
  width: 100%;
  max-width: 300px;
  padding: 0.75rem;
  animation: fade 0.9s linear;
}

.annual-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.rm-text-annual {
  color: #6c4e33;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font2";
  animation: fade 0.9s linear;
}

.annual-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  animation: fade 0.9s linear;
  font-family: "font2";
  color: #472200;
}

.annaul-day {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: #6c4e33;
  font-family: "font2";
  text-align: center;
  animation: fade 0.9s linear;
}

.annual-price-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  margin: 0px;
  text-align: center;
  color: #472200;
}

.left {
  background-color: #fff8e7;
  border-radius: 0.75rem;
}

.hardware-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hardware-cost-sub-card {
  width: 100%;
  max-width: 300px;
  padding: 0.75rem;
}

.hardware-cost-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.hardware-price-text {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  font-family: "font1";
  color: #6c4e33;
  animation: fade 0.9s linear;
}

.hardware-price-note {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #d68000;
  font-family: "font1";
  animation: fade 0.9s linear;
}

.day-hardware-exclude {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  text-align: center;
  animation: fade 0.9s linear;
  font-family: "font1";
  margin-top: 0.5rem !important;
  color: #6c4e33;
  font-weight: 600;
}

.year-hardware {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  text-align: center;
  font-family: "font1";
  margin: 0;
  color: #472200;
}

.day-hardware {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  text-align: center;
  color: #6c4e33;
  font-family: "font2";
}
