.choose-your-plans-sub-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.choose-ypur-plans-text {
  margin: 0px;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.6px;
  font-weight: 600;
  font-family: "font2";
  text-transform: capitalize;
}

.sub-container {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 3rem;
}

.Chooseyour-plans-container {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
}

.silverBasic {
  width: 100%;
  position: relative;
}

.swipper-basic-main {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: pan-y;
  position: static !important;
}

.swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
  transform: translateZ(0);
  justify-content: center;
}

.swiper-slide {
  width: 271px;
  scroll-snap-align: start start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: flex;
  /* height: 100%; */
}

.swiper-text-card {
  padding-top: 3rem !important;
  padding: 0.5rem;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  min-width: 272px;
  width: 100%;
  display: flex;
  height: 100%;
}

.border-text {
  background-color: #fffcf4;
  border: 1px solid #e6cfb0;
  border-radius: 1rem;
  /* height: 100%; */
  width: 100%;
}

.w-full {
  width: 100%;
}

.solid-primary {
  padding: 1.5rem;
  border-bottom: 1px solid #e6cfb0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fffefb;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.silver-text {
  padding-bottom: 0.25rem;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.96px;
  font-weight: 600;
  color: #472200;
  margin: 0;
  font-family: "font1";
  color: #472200;
  text-align: start;
}

.money-text {
  color: #d68000;
  margin: 0;
  text-align: start;
}

.rm-text-silver {
  letter-spacing: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  /* margin-right: 0.25rem; */
  font-family: "font2";
  margin-right: 9px;
}

.money-text-set {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.6px;
  font-weight: 600;
  font-family: "font2";
  margin-left: -5px;
}

.money-text-set-hardware {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.6px;
  font-weight: 600;
  font-family: "font2";
}
.year-plan {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #6c4e33;
  font-weight: 500;
  margin: 0;
  font-family: "font1";
  text-align: start;
}

.silver-card-sub-card {
  vertical-align: top;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #fffcf4;
  flex-grow: 1;
  width: 100%;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gold-Basic .is-open {
  vertical-align: top;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem !important;
  background-color: #fffcf4;
  flex-grow: 1;
  width: 100%;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gold-Basic.is-open {
  padding-bottom: 24px !important;
}

.swiper-text-card .silver-card-sub-card.is-open {
  padding-bottom: 128px;
}

.card-gold {
  margin-left: -7px;
}

.hardware-silver.is-open {
  padding-bottom: 100px !important;
}

.hardware-silver {
  padding-bottom: 16px;
}

.vertical-set {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  gap: 8px;
}

.header-3 {
  margin: 0;
}

.button-include {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}

.include-text {
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px;
  color: rgb(132 107 84);
  font-family: "font1";
}

.included-content {
  --radix-collapsible-content-height: 494px;
  --radix-collapsible-content-width: 206px;
  --radix-accordion-content-height: var(--radix-collapsible-content-height);
  --radix-accordion-content-width: var(--radix-collapsible-content-width);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.included-content.open {
  max-height: var(--radix-accordion-content-height);
  opacity: 1;
  animation: accordionSlideDown 0.3s ease-out;
}

.header-2 {
  margin: 0;
}

.button-additional {
  border: none;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}

.additional-features {
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px;
  color: rgb(132 107 84);
  font-family: "font1";
}

.feature-card {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  max-width: 140px;
}

.feature-card-hardware {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.roundTickImage {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  padding-top: 0.125rem;
}

.feature-card-main {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.platform-text {
  margin: 0px;
  color: #472200;
  font-weight: 500;
  font-family: "font1";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  text-align: start;
}

@keyframes accordionSlideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

.ArrowDownImage {
  width: 1rem;
  height: 1rem;
  max-width: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition: transform 0.3s ease;
}

.ArrowDownImage.rotated {
  transform: rotate(180deg);
}

.request-free-demo-button-sub {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid #e6cfb0;
  width: 100%;
  background-color: #fffefb;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.free-demo-button-set {
  outline-offset: 2px;
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-align: center;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 1rem;
  background-color: #472200;
  font-family: "font1";
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.best-value {
  padding-top: 0 !important;
  padding: 0.5rem;
  background-color: #fbb501;
  border-radius: 1rem;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.best-value-text {
  color: #764600;
  margin: 0px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.36px;
  font-weight: 700;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: "font1";
}

.silver-gold-card {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.silver-gold-platinum {
  padding-left: 1rem;
  padding-right: 1rem;
  column-gap: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.feature-card-main {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.feature-card-main.open {
  max-height: 500px;
}

.feature-card-main.close {
  max-height: 0;
  padding-top: 0;
}

.ArrowDownImage {
  transition: transform 0.3s ease;
}

.ArrowDownImage.rotated {
  transform: rotate(180deg);
}

.hardware-card {
  margin-left: 4px;
}

.plus {
  margin-left: -8px;
}

.gold {
  margin-left: -11px;
}

.best-value-cards.is-open {
  padding-bottom: 24px !important;
}

.silverBasic {
  margin-bottom: 0px;
}

.mobile-accordion {
  display: block;
}

.software .accordion-closed .silver-card-sub-card {
  padding-bottom: 1rem;
}

/* ////////////////////////media Queries////////////////////////// */

@media screen and (min-width: 375px) {
  .sub-container {
    text-align: unset;
  }

  .swiper-slide {
    width: 323px;
  }

  .swiper-text-card {
    min-width: 327px;
  }

  .request-free-demo-button-sub {
    margin-top: -8px;
  }

  .feature-card {
    max-width: unset;
  }

  .card-gold .request-free-demo-button-sub {
    margin-top: 8px;
  }

  .arrow-cards {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 425px) {
  .swiper-slide {
    width: 374px;
  }

  .swiper-text-card {
    min-width: 377px;
  }

  .best-value .request-free-demo-button-sub {
    margin-top: 10px;
  }

  .swiper-text-card .silver-card-sub-card.is-open {
    margin-bottom: -8px;
  }

  .software .accordion-open .silver-card-sub-card {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .sub-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .software {
    margin-bottom: 21px;
  }

  .Chooseyour-plans-container {
    gap: 1.5rem;
  }

  .software-only {
    gap: 3rem;
  }

  .plus {
    margin-left: -8px;
  }

  .swiper-slide {
    width: 328px;
  }

  .swiper-text-card {
    min-width: 302px;
  }

  .pro {
    margin-left: 0px;
  }

  .goldBasics {
    row-gap: unset;
  }

  .software-pagination {
    display: none;
  }

  .arrow-cards {
    display: none;
  }

  .platinum {
    margin-left: -4px;
  }

  .best-value .request-free-demo-button-sub {
    margin-top: 2px;
  }

  .card-gold .request-free-demo-button-sub {
    margin-top: 0px;
  }

  .silver-card-sub-card {
    padding-bottom: 1.5rem;
  }

  .hardware-card {
    margin-left: 0px;
  }

  .swiper-text-card .silver-card-sub-card.is-open {
    margin-bottom: 0px;
  }

  .desktop-tabs {
    display: block;
  }

  .mobile-accordion {
    display: none;
  }

  .price-cards {
    gap: 3rem;
  }

  .fc-inner-hardware {
    margin-top: 13px;
  }

  .software .accordion-closed .silver-card-sub-card {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .sub-container {
    padding-top: 6rem;
    /* padding-bottom: 6.7rem; */
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 4rem;
  }

  .swiper-slide {
    width: 301.333px;
  }

  .swiper-wrapper {
    gap: 0.75rem;
  }

  .swiper-text-card {
    min-width: 293px;
  }

  .hardware-software .swiper-slide {
    width: 309.333px;
  }

  .hardware .swiper-wrapper {
    gap: unset;
  }

  .hardware-software .plus {
    margin-left: 0px;
  }

  .software-pagination {
    display: none;
  }

  .arrow-cards {
    display: none;
  }

  .platinum {
    margin-left: 0px;
  }

  .price-cards {
    gap: 3rem;
    height: 100%;
  }

  .hardware-software .accordion-closed .silver-card-sub-card {
    margin-bottom: 0px;
  }

  .hardware-software .additional-open-only .silver-card-sub-card {
    padding-bottom: 1.5rem;
  }

  .software .accordion-closed .silver-card-sub-card {
    padding-bottom: 1.5rem;
  }

  .hardware-software .both-open .silver-card-sub-card {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .sub-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .section-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

  .software .swiper-slide {
    width: 400px;
  }

  .swiper-wrapper {
    justify-content: center !important;
  }

  .hardware .swiper-wrapper {
    justify-content: flex-start !important;
  }

  .hardware-software .swiper-slide {
    width: 312px;
  }

  .hardware-software .request-free-demo-button-sub {
    margin-top: unset;
  }

  .platinum {
    margin-left: 0px;
  }

  .card-gold {
    margin-left: 0px;
  }

  .hardware {
    margin-bottom: -53px;
  }

  .silver-card-sub-card .is-open {
    margin-left: -1px;
  }

  .fc-inner-hardware {
    padding-top: 7rem;
    margin-top: 6px !important;
  }
}

@media screen and (min-width: 1804px) {
  .fc-inner-hardware {
    padding-top: 7rem;
    margin-top: 7px !important;
  }
}

@media screen and (min-width: 2560px) {
  .hardware-software .swiper-slide {
    width: 312px;
  }
}
