.free-consultaion-main-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff4d7;
}

.free-consultaion-main {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.background-brand-free {
  background-color: #fbb501;
  border-radius: 32px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1248px;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.speak-card {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  align-self: stretch;
}

.speak-text {
  color: #321800;
  text-transform: capitalize;
  white-space: pre-wrap;
  margin-bottom: 1.5rem;
  font-family: "font2";
  margin: 0;
  margin-bottom: 24px;
  text-align: start;
  font-size: 16px;
  line-height: 24px;
  margin-top: -5px;
}

.need-text {
  color: #472200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: "font1";
  margin: 0;
  text-align: start;
  margin-bottom: 32px;
}

.request {
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 320px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 1rem;
  background-color: #472200;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  font-family: "font1";
}

.image-free-card {
  width: 100%;
  margin-bottom: 1.5rem;
}

.freeConsultImageOne {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  width: 100%;
  display: inline;
  border-radius: 1.5rem;
}

.freeConsultImageTwo {
  display: none;
}

.freeConsultImageThree {
  display: none;
}

.hardware .feature-card {
  max-width: unset;
}

.best-value-hardware .feature-card-main {
  padding-top: 1.25rem;
}

.freeConsultImage {
  display: none;
  .freeConsultImageOne {
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    width: 100%;
    display: inline;
    border-radius: 1.5rem;
  }
}

.hardware-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
}

.hardware-arrows {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.arrow-card-container-hardware {
  display: flex;
  align-items: center;
}

.arrow-buttons-hardware {
  cursor: pointer;
  padding-left: 27px;
  padding-right: 27px;
  background-color: transparent;
  border: none;
}

.hardware .swiper-pagination {
  bottom: 14px;
}

.hardware .arrowbuttonLeft {
  margin-top: 5px;
}

.hardware .arrowbuttonRight {
  margin-top: 8px;
}

.hard .swiper-text-card {
  margin-left: 0px;
}

.pro {
  margin-left: -3px;
}

.plus {
  margin-left: -3px;
}

.platinum {
  margin-left: -4px;
}

.money-text-set-hardware-platinum {
  margin-left: -5px;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.6px;
  font-weight: 600;
  font-family: "font2";
}

.feature-card-main-hardware {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding-top: 1.25rem;
}

@media screen and (min-width: 375px) {
  .freeConsultImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    width: 100%;
    display: inline;
    border-radius: 1.5rem;
    display: inline;
  }

  .freeConsultImageOne {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .free-consultaion-main {
    padding-bottom: 5rem;
    padding-top: 2.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .speak-card {
    padding-bottom: 3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1.5rem;
  }

  .need-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    font-weight: 500;
  }

  .speak-text {
    margin-top: -29px;
  }
}

@media screen and (min-width: 1024px) {
  .free-consultaion-main {
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .background-brand-free {
    flex-direction: row;
    height: 492px;
    overflow: hidden;
    position: relative;
  }

  .speak-card {
    padding-right: 2rem;
    padding-left: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-width: 520px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
  }

  .freeConsultImageOne {
    display: none;
  }

  .freeConsultImageTwo {
    max-width: 100%;
    height: auto;
    display: inline;
    border-radius: 1.5rem;
    margin-bottom: 0;
  }

  .image-free-card {
    width: 656px;
    margin-bottom: 0;
    position: absolute;
    right: -242px;
    bottom: 0;
    top: 0;
    margin-bottom: 0;
  }

  .speak-text {
    margin-top: 0px;
  }

  .swiper-text-card {
    min-width: unset;
  }
}

@media screen and (min-width: 1440px) {
  .free-consultaion-main {
    max-width: none;
    position: relative;
  }

  .free-consultaion-main-container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
  }

  .background-brand-free {
    gap: 0.5rem;
  }

  .speak-card {
    padding-right: 1.5rem;
    padding-left: 3.5rem;
    max-width: none;
    position: relative;
  }

  .image-free-card {
    position: relative;
    right: 0;
    width: auto;
  }

  .need-text {
    width: 483px;
  }
}
