.feature-card-main-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.feature-card-main-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-align: center;
  padding: 0.75rem;
  max-width: 300px;
  color:#472200;
  font-family: "font1";
}

.feature-card-spans {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media screen and (min-width:1024px) {
  
}