.footer-main-section {
  background-color: #1e0e00;
}

.section-wrapper-footer {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.section-wrapper-box {
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer-card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-card-sub {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-sub {
  border-bottom: 1px solid #492a00;
}

.solutions-bar-footer {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
}

.solutions-bar {
  margin-bottom: 1rem;
}

.solution-text {
  color: #ad6500;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.72px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "font2";
}

.hubbopos-icon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-hubbo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footers {
  display: inline-flex;
  align-items: center;
  flex: 1 1 0%;
  gap: 1.1rem;
  justify-content: space-between;
  width: fit-content;
}

.hubbo {
  height: 1.25rem;
  width: fit-content;
}

.HubboposImage {
  height: 100%;
  width: fit-content;
  max-width: 100%;
}

.english {
  display: flex;
  align-items: center;
  height: 2.5rem;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 0.25rem;
  background-color: transparent;
  border: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 600;
  font-family: "font2";
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-right: 0px;
}

.english-card {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
}

.MalasiaImage {
  height: 1.5rem;
  margin-right: 0.5rem;
  max-width: 100%;
  width: 1.5rem;
  color: transparent;
}

.my-name {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  color: #fff;
  font-family: "font1";
  margin: 0;
}

.arrow {
  padding: 0.5rem;
  width: 41px;
}

.arrow-down {
  max-width: 100%;
  height: auto;
  display: block;
}

.app-store-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: inline;
}

.app-store {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  vertical-align: middle;
}

.app-card {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin: 0;
}

.AppStore {
  max-width: 100%;
  height: auto;
  display: block;
}

.app-store-card-two {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  gap: 0.75rem;
  display: none;
}

.text-footer-enquiry {
  color: #fff5db;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 500;
}

.text-content {
  white-space: nowrap;
  margin: 0;
  opacity: 0.7;
  font-family: "font1";
}

.text-link {
  opacity: 0.7;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  white-space: nowrap;
  display: block;
}

.hello-link {
  margin: 0;
  font-family: "font1";
}

.block {
  display: block;
}

.social-media-apps {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.facebook {
  padding: 0.5rem;
}

.faceBookIcon {
  max-width: 100%;
  height: auto;
  width: 40px;
  height: 40px;
}

.privacy-note {
  color: rgb(132, 107, 84);
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  font-family: "font1";
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  margin-top: -5px;
}

.inline-block {
  display: inline-block;
}

.note {
  width: 100% !important;
}

.social-media-sub {
  display: none;
}

.arrowdown.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.feature-item {
  list-style-type: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #fff5db;
  opacity: 0.7;
  font-weight: 500;
  text-underline-offset: 4px;
  padding: 0.75rem;
  text-align: start;
  font-family: "font1";
}

.accordion-content {
  padding-left: 0px;
}

.language-dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.arrow-down.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.notes {
  cursor: pointer;
}

@media screen and (min-width: 375px) {
  .footers {
    justify-content: space-between;
    gap: 1.3rem;
  }

  .arrow {
    padding: 0.5rem;
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  .section-wrapper-box {
    padding-top: 5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
  }

  .footers {
    justify-content: flex-start;
    gap: 0.9rem;
    margin-top: -5px;
  }

  .hubbo {
    height: 1.5rem;
  }

  .social-media-sub {
    display: inline;
    display: flex;
    margin-top: -1px;
  }

  .social-media-apps {
    display: none;
  }

  .text-footer-enquiry {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    font-weight: 500;
    align-items: flex-start;
    flex-direction: column;
  }

  .app-store-card {
    display: none;
  }

  .app-store-card-two {
    display: inline;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    gap: 0.75rem;
  }

  .section-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 3px;
  }

  .privacy-note {
    text-align: start;
    margin-top: -8px;
  }

  .footer-hubbo {
    margin-top: 1px;
  }
}

@media screen and (min-width: 1024px) {
  .text-footer-enquiry {
    flex-direction: row;
  }

  .footer-hubbo {
    margin-top: 1px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-last-section-main {
    display: inline;
  }

  .section-wrapper-box {
    display: none;
  }
}

.helphere-header > .privacy-note {
  margin-top: -3px;
}
