.tab-main-container {
  width: 100%;
}

.tab-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.tab-container {
  outline: none;
  padding: 0.5rem;
  background-color: #fffefb;
  border-radius: 9999px;
  justify-content: center;
  width: fit-content;
  display: flex;
}

.tab-button {
  background-color: white;
  color: #472200;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 3.5rem;
  border-radius: 9999px;
  transition: background-color 0.25s ease, color 0.25s ease;
  cursor: pointer;
  min-width: 230px;
  font-family: "font1";
}

.tab-button.active {
  background-color: #472200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  color: #fff;
}

.soft-button {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .tab-button.active {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.03px;
    font-weight: 600;
  }

  .tab-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
