:root {
  --tw-translate-x: 0px;
  --tw-translate-y: 0;
  --tw-skew-x: 0;
  --tw-rotate: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}
/* /////////////////////////////////////////////////////////////////// */

.menuClick-main-container {
  position: relative;
  z-index: 1000;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --color-brown-rgb: 132 107 84;
}

.menuLay {
  position: fixed;
  inset: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgb(var(--color-brown-rgb) / 0.4);
  display: flex;
  justify-content: flex-start;
}

.menuClick-main-container.menu-open .menuclick-sub-container {
  left: 0;
  opacity: 1;
}

.menuclick-sub-container {
  width: 90%;
  max-width: 343px;
  height: 100%;
  background-color: #fff5db;
  display: flex;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  position: relative;
  left: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.menuclick-relative {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 2.3rem;
}

.menuclick-width {
  width: 100%;
  height: 100%;
  z-index: 50;
}

.menuclick-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hubbopos-card-menu {
  border-bottom: 1px solid #ffe7a9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
}

.hubboposImageI {
  max-width: 100%;
  height: auto;
}

.CloseImage {
  max-width: 100%;
  height: auto;
}

.closeButton {
  border: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  padding: 0px;
}

.solutions-menuclick {
  display: flex;
  flex-direction: column;
}

.solutions-card-container {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-class {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.list-card {
  display: flex;
  justify-content: space-between;
  padding-top: 1.4rem;
  box-sizing: border-box;
  margin-top: -1px;
}

.list-cards {
  display: flex;
  justify-content: space-between;
  padding-top: 1.4rem;
  box-sizing: border-box;
  margin-top: 1px;
}

.list-card-plans {
  display: flex;
  justify-content: space-between;
  padding-top: 1.4rem;
  box-sizing: border-box;
  margin-top: 0px;
  border-bottom: 1px solid #ad6500;
}

.text-heading {
  margin: 0px;
  color: #472200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "font1";
}

.text-heading-plans {
  margin: 0px;
  color: #472200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "font1";
  padding-bottom: 2rem;
}

.list-card-language {
  display: flex;
  justify-content: space-between;
  padding-top: 1.8rem;
  box-sizing: border-box;
  margin-top: 1px;
}

.english-button-menu {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-weight: 600;
  padding-right: 0px;
  border-radius: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  height: 2.5rem;
  align-items: center;
  cursor: pointer;
  padding-left: 0px;
  margin-top: -8px;
}

.english-menu {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  color: #472200;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-family: "font1";
}

.english-menu-click {
  display: flex;
  align-items: center;
  pointer-events: none;
  justify-content: flex-end;
}

/* //////////////////////////////////////////////////////////////// */

.buttons-containers {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  margin-bottom: 3px;
  background-color: rgb(var(--dark-brown-300) / 0.4);
}

.get-started-buttons {
  color: #472200;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #fff5db;
  border: 1px solid #472200;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  font-family: "font1";
}

.free-demo-button-menu {
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #472200;
  width: 100%;
  border-radius: 1rem;
  font-family: "font1";
  border: none;
}

.click-event > .dropdown-main-container-languages {
  top: 46.5%;
  right: -7.7%;
}

.click-event > .item-name-english {
  padding-left: 1rem;
  padding-right: 1rem;
}

.chevron-down-arrow-english-event {
  margin-top: 3px;
}

.chevron-down-arrow-english-event.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.click-event > .chevron-down-arrow-english-menu {
  margin-top: 2px;
}

@media screen and (min-width: 375px) {
  .menuClick-main-container {
    position: relative;
    z-index: 1000;
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 425px) {
  .menuClick-main-container {
    width: 420px !important;
  }
}

@media screen and (min-width: 425px) {
  .click-event > .dropdown-main-container-languages {
    top: 46%;
    right: -15%;
  }

  .click-event > .chevron-down-arrow-english-menu {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .click-event > .dropdown-main-container-languages {
    top: 45%;
    right: -14%;
  }

  .chevron-down-arrow-english-event {
    margin-top: 0px;
  }
}
