.plans-filering-component {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.plans-filtering-card {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 1rem;
  margin-top: -16px;
}

.plan-filtering-main {
  width: 100%;
  display: flex;
  max-width: 300px;
  animation: fade 0.9s linear;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.plan-filtering-mains {
  width: 100%;
  /* display: none; */
  max-width: 300px;
  animation: fade 0.9s linear;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.plans-filtering-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.best-value-text-plan {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  font-weight: 400;
  font-family: "font1";
  outline-offset: 2px;
  outline-width: 1px;
  line-height: 1.5rem;
  color: #764600;
  background-color: #fbb501;
  border-radius: 1.5rem;
  width: 120px;
  height: 56px;
}

.plan-filtering-main {
  flex: 1 1 calc(33.333% - 1rem);
}

.height {
  min-height: 24px;
  /* min-height: 28px; */
  /* min-height: 48px; */
}

.new-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.micro-text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 400;
  color: rgb(132 107 84);
  font-family: "font1";
  margin-bottom: 1rem;
  animation: fade 0.9s linear;
}

.basic-text {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.96px;
  font-weight: 600;
  color: #321800;
  font-family: "font2";
  text-align: center;
  margin: 0px;
}

.only-text {
  color: #6c4e33;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  font-weight: 500;
  text-align: center;
  animation: fade 0.9s linear;
  margin-top: 1rem !important;
  margin: 0;
  font-family: "font1";
}

.started-button {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-transform: capitalize;
  color: #472200;
  outline-width: 1px;
  outline-offset: 2px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  text-align: center;
  font-family: "font1";
  background-color: #fff;
  border: 2px solid #472200;
  border-radius: 1rem;
  white-space: nowrap;
  position: relative;
  display: flex;
  height: 38px !important;
  margin-left: auto;
  margin-right: auto;
  width: 115px !important;
  margin-bottom: 0.75rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.started-button-get {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-transform: capitalize;
  color: #472200;
  outline-width: 1px;
  outline-offset: 2px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  text-align: center;
  font-family: "font1";
  background-color: #fff;
  border: 1px solid #472200;
  border-radius: 1rem;
  white-space: nowrap;
  position: relative;
  display: flex;
  height: 38px !important;
  margin-left: auto;
  margin-right: auto;
  width: 115px !important;
  margin-bottom: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: #472200;
  color: #fff;
}

.plan-filtering-main-card {
  display: flex;
  width: 100%;
  max-width: 300px;
  animation: fade 0.9s linear;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.goldBasics {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  max-width: 124px;
  width: 100%;
  animation: fade 0.9s linear;
}

.title-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.best-value-card {
  position: relative;
}

.get-started-platinum {
  background-color: #472200;
  color: #fff;
  border: 1px solid #fff;
}

.best-value-text-plan .height {
  min-height: 9px;
}

.silver-gold-platinum {
  display: flex;
  justify-content: center;
  /* margin-left: -5px; */
}

.pricing-row {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pricing-column-card {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.price-renders-card {
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: row;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.features-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 1rem;
}

.plan-platinum .height {
  min-height: 0px;
}

.plan-platinum .best-value-text-plan {
  top: -8px;
}

.plan-platinum .goldBasics {
  margin-top: -8px;
}

.features-platinum-bg .feature-name {
  background-color: #fff8e7;
  border-radius: 0.75rem;
}

.silver-gold-card {
  row-gap: 1rem;
}

.silver-gold-card.open {
  max-height: 2000px;
  opacity: 1;
  transition: all 0.3s ease;
}

.silver-gold-card.closed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-toggle-button {
  margin-bottom: 10px;
  background: #eee;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
}

.pricing-card-wrapper {
  width: 100%;
  max-width: 300px;
}

.best-value-text-plan .best-value-text-plan:hover {
  background-color: #633201;
}

@media screen and (min-width: 375px) {
  .best-value-card {
    white-space: nowrap;
    height: unset;
    width: 129px;
  }

  .basic-text {
    white-space: nowrap;
  }

  .plan-platinum .basic-text {
    white-space: unset;
  }

  .best-value-text-plan {
    left: 43.7%;
  }
}

@media screen and (min-width: 425px) {
  .goldBasics {
    max-width: unset;
  }

  .silver-gold-platinum {
    margin-left: 0px;
  }

  .best-value-card .best-value-text-plan {
    white-space: nowrap;
    height: unset;
  }

  .best-value-text-plan {
    left: 37.45%;
  }

  .height {
    min-height: 48px;
  }

  .goldBasics {
    margin-top: -24px;
  }

  .best-value-card {
    width: 129.5px;
  }
}

@media screen and (min-width: 768px) {
  .plan-filtering-mains {
    display: flex;
  }

  .silver-gold-platinum {
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    justify-content: center;
    padding-right: 2.5rem;
  }

  .silver-gold-card {
    padding: 0px;
  }

  .price-renders-card-one {
    justify-content: center;
  }
  .basic-text {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px;
    font-weight: 600;
    white-space: unset;
  }

  .plan-filtering-main-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    row-gap: 0.5rem;
  }

  .silver-gold-tablet-main {
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 1rem;
  }

  .silver-gold-tablet-main-card {
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
  }

  .silver-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 0.5rem;
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .silver-gold-tablet-main-card {
    position: relative;
    top: 1px;
  }

  .best-value-text-plan {
    position: absolute;
    top: 40px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
    font-weight: 400;
    font-family: "font1";
    outline-offset: 2px;
    outline-width: 1px;
    line-height: 1.5rem;
    white-space: nowrap;
    height: unset;
  }

  .only-text {
    margin-top: 0.5rem !important;
  }

  .micro-text {
    margin-bottom: 0.5rem;
  }

  .get {
    background-color: #472200;
    color: #fff;
    border: 1px solid #472200;
  }

  .hardware-cost {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .hardware-cost-sub-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .plan-platinum .goldBasics {
    margin-top: 24px;
  }

  .goldBasics {
    gap: 0.5rem;
  }

  .plan-platinum .best-value-text-plan {
    top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .price-renders-card {
    max-width: unset;
  }

  .price-renders-card-one {
    justify-content: space-between;
  }

  .pricing-card-wrapper {
    /* flex: 1 1 calc(33.33% - 1rem); */
    max-width: 240px;
    min-width: 180px;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: stretch; */
  }
}

@media screen and (min-width: 1440px) {
  .silver-gold-platinum {
    justify-content: space-between;
  }

  .height {
    min-height: 48px;
  }

  .pricing-card-wrapper {
    max-width: 300px;
  }

  .pricing-texted-cards {
    display: flex;
    flex-direction: row;
    min-width: 1246px;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1804px) {
  .card-gold {
    margin-left: 0px;
  }

  /* .silver-card-sub-card {
    padding-bottom: 16px;
  } */

  .price-renders-card {
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 2560px) {
  .price-renders-card {
    justify-content: space-between;
  }
}
