body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
:after,
:before {
  box-sizing: border-box;
}

@font-face {
  font-family: "font1";
  src: url("./assets/fonts/font1.woff2");
}

@font-face {
  font-family: "font2";
  src: url("./assets/fonts/font2.woff2");
}

*::-webkit-scrollbar {
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: #e5dacb;
}

*::-webkit-scrollbar-thumb {
  background-color: #d9b88a;
  border-radius: 200px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b4c1f;
}

* {
  scrollbar-color: #d9b88a #e5dacb;
  scrollbar-width: auto;
}
