.dropdown-heading {
  color: #472200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  text-align: left;
  padding: 12px 16px 12px 24px;
  list-style-type: none;
  font-family: "font1";
}

.dropdown-item-set {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: left;
  padding: 12px 16px 12px 24px;
  list-style-type: none;
  font-family: "font1";
}

.dropdown-item-set:hover {
  background-color: #fff5db;
}
