.dropdown-main-container-languages {
  position: fixed;
  top: 4.8rem;
  z-index: 10;
  animation: opacity 0.2s linear;
  border-radius: 0.5rem;
  background-color: #fffefb;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  max-height: 12rem;
}

.drop-down-english {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.item-name-english {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0;
  color: #472200;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 500;
  font-family: "font1";
  display: flex;
  gap: 0.25rem;
}

.dropdown-item-languages {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.item-name-english:nth-child(1):hover {
  background-color: #fff5db;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.item-name-english:nth-child(2):hover {
  background-color: #fff5db;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.click-event .item-name-english {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .click-event > .dropdown-main-container-languages {
    top: 45%;
    right: -12%;
  }
}
